<!doctype html>

<html>
	<head>
		<title>Sistema de Monitoramento de Idosos</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="estilo.css">
		<link rel="stylesheet" type="text/css" href="../static/estilo.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


	</head>
	
	<body>
			<div>
				<h1>Sistema de Monitoramento de Idosos</h1>
			</div>

		<form action="" method="post" id="warp"  />
		
			<h4>Configurações</h4>
		
			<div id="Menu">
				
				
					<a class="link-as-button" href="SIP.html">
						<i class="material-icons">phone</i>
						
						SIP
					</a>
				

				
					<a class="link-as-button" href="network.html">
						<i class="fa fa-wifi" style="font-size:24px"></i>
						Rede
					</a>
				
				
					<a class="link-as-button" href="devicesRegistered.html">
						<i class="fa fa-thermometer-three-quarters" style="font-size:24px"></i>
						Sensores pareados
					</a>
					
				
					<a class="link-as-button" href="password.html">
						<i class="material-icons">enhanced_encryption</i>
						Senha Web
					</a>
					
				
					<a class="link-as-button" href="login">
						<i class="fa fa-sign-out" style="font-size:24px"></i>
						Logout

					</a>
					
				
					<a class="link-as-button" href="reboot">
						<i class="fa fa-refresh" style="font-size:24px"></i>
						Reboot
					</a>
				
			
			</div>
					
	</body>
</html>

