<!doctype html>

<html>
	<head>
		<title>IP Health</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../static/estilo.css" />
        <a href="menu.html">
		<img src="https://ifsc.edu.br/image/layout_set_logo?img_id=902745&t=1681733076142"/>
        </a>	
	</head>
	<body>
			<div>
				<h1>Sistema de Monitoramento de Idosos</h1>
			</div>

		<form action="" method="post" id="network"  />
		<div id="Voltar" >
			<h6><a href="menu.html">Voltar</a></h6>
		</div>
		
		<h4>Sistema de Monitoramento de Idosos</h4>
			</div>
			
			<div id="password1">
				<label>Usuário:</label>
                <input  type="text" name="username" value="admin" readonly/>
			</div>
			
			<div id="password1">
				<label>Senha:</label>
				<input  type="password" name="password" />
			</div>
			
			<div id="password1">
				<label>Nova senha:</label>
                <input  type="password" name="rpassword" />
			</div>
			
			<div id="password1">
			    <a href="login.html">
                <input type="submit" value="Atualizar" />
                </a>
			</div>
					
	</body>
</html>

