<!doctype html>

<html>
	<head>
		<title>Sistema de Monitoramento de Idosos</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="estilo.css">
		<link rel="stylesheet" type="text/css" href="../static/estilo.css" />
	
        <a href="menu.html">
	    </a>

	</head>
	<body>
			<div>
				<h1>Sistema de Monitoramento de Idosos</h1>
			</div>

		<form action="" method="POST" id="SIP"/>

			<div id="Voltar">
				<h6><a class="voltar-as-button" href="menu.html">Voltar</a></h6>
				
			</div>
			
				<h4>SIP</h4>
			
			<div>
            <div id="opçãosip">
                <label>Resgistro SIP</label> <input  type="text" name="register" value={{status}} />
				
			</div>

			<div id="opçãosip">
                <label>Conta:</label> <input  type="text" name="username" value={{username}} />
				
			</div>
			
			<div id="opçãosip">
                <label>Senha:</label> <input  type="text" name="password" value={{password}} />
				
			</div>
			
			<div id="opçãosip">
                <label>Servidor:</label> <input  type="text" name="server" value={{server}} />
				
			</div>
			
			<div id="opçãosip">
                <label>Ramal destino:</label> <input  type="text" name="title" value={{title}} />
				
			</div>
			
			<div id="salvar">
				<input  type="submit" value="Salvar" name="Salvar" />
			</div>
					
	</body>
</html>

